html{
    background-color: #FAF9F6;
    font-family: Raleway;
    font-size: 1em;
}

h1{
    font-size: 3em;
    font-weight: bolder;
}

em{
    font-size: 0.9em;
}

/* opening page rules*/
#intro{
    display: flex;
    height: auto;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#text{
    height: auto;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

#min{    
    width: 25em;
    height: auto;
    padding-left: 150px;
}


/* about page rules */
#me{
    padding: 1em;
    border: 2px solid #333;
    box-shadow: 15px 15px 1px#96A78D;
}


/* projects page rules */
#popups{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#poster, #metro-kiosk{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

#capstone-examples{
    display: flex;
    flex-direction: row;
}

.metro-kiosk{
    width: 425px;
    height: auto;
    padding: 5px;
}

.capstone-screenshots{
    width: 245px;
    height: auto;
}

.covers{
    display: block;
    width: 400px;
    height: 275px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: auto;
}

.covers-vert{
    display: block;
    width: 175px;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: auto;
}

.kc{
    width: 200px;
    height: auto;
}

.tracker{
    width: 450px;
    height: auto;
}

.box{
    width: 420px;
    height: 510px;
    margin: 5px 5px;
    background: #96A78D;
    padding: 3px;
    border: 2px solid #96A78D;
    border-radius: 10px;
}

.project-description{
    display: block;
    width: 400px;
    height: auto;
    margin: 5px 5px;
    border-radius: 10px;
    background-clip: padding-box;
    text-align: center;
    margin: auto;
    text-decoration: none;
    line-height: 2;
}

.button {
    width: auto;
    font-size: 1em;
    padding: 5px;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background: #fff;
} 
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
} 
.popup {
    margin: 40px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
} 
.popup h2 {
    margin-top: 0;
    color: #333;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}
.popup .close:hover {
    color: #d82206;
}
.popup .content {
    max-height: 60vh;
    overflow: auto;
}

/* rules used throughout */
.descriptions{
    margin-left: 30px;
}

.divs{
    height: 100vh;
    padding: 60px 40px;
    float: center;
}

.sub, h3{
    margin-left: 30px;
}

/* contact page rules */
.contacts{
    width: 4em;
    padding: 10px;
}

#contact{
    font-size: 1.5em;
}

#icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navigation bar rules */
#icon{
    width: 50px;
}

.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: #F9F9F9;
}

.navbar-right{
    float: right;
    padding-top: 20px;
    padding-right: 40px;
}
  
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}
.navbar a:visited {
    background: #96A78D;
    font-style: oblique;
}
  
.navbar a:hover {
    background: #96A78D;
    font-style: oblique;
}
  
  